/* .container{
  border: 1px solid;
  overflow: auto;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
}
img{
  float: left;
  margin-right: 5px;
}
p{
  color: aliceblue;
  text-align: justify;
} */

div{
  border: 1px solid;
  overflow: auto;
  background-color: #c4dfe6;
  padding: 10px;
}
.imagem1 {
  float: left;
}

.parag {
  
}
