.quadrado{
  width: 100px;
  height: 100px;

}
.quadrado-red{
  background-color: red;

}
.quadrado-blue{
  position: fixed;
  left: 50px;
  background-color: blue;

  
}
.quadrado-green{
  background-color: green;

}
.quadro{

  width: 400px;
  height: 400px;
  border: 1px solid gray;

}