

.fundo{
  background-image: url(../images/ios.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}
.azul{
  background-color: blue;
}
.verde{
  background-color: green;
}
.vermelho{
  background-color: red;
}
.sobre{
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

